<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233516144163-fgk830rfvtpvtbo0orfjhc15mq5juo84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233516144163-fgk830rfvtpvtbo0orfjhc15mq5juo84</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ekGlz5z-1eOlURTyX9WsUYsEkrSkeHA</string>
	<key>GCM_SENDER_ID</key>
	<string>233516144163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saar.bibla.LBTAFireBaseChat</string>
	<key>PROJECT_ID</key>
	<string>lbta-swiftui-firebase-ch-8d986</string>
	<key>STORAGE_BUCKET</key>
	<string>lbta-swiftui-firebase-ch-8d986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233516144163:ios:ae1b3bea573ca71b1f0396</string>
</dict>
</plist>